/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap');

.carousel-item img {
    width: 1320px;
    height: 700px;
    max-height: 700px;
  } 
  .fa-star{
    font-size: 12px;
  }
  .fa-star.filled{
    color: #ffc014;
  }
  .fa-star.empty{
    color: #AEAEAE;
  }